{% extends 'base.html' %}

{% block title %}BEA CONFECCIONES{% endblock %}

{% block content %}
<div class="row"></div>
{% load staticfiles %}
<div class="row">
    <div class="col-sm-4 col-sx-12">
        <a href="#">
            <!-- <img src="{% static "img/content1.jpg"%}" class="img-responsive"> -->
        </a>
    </div>
    <div class="col-sm-4 col-sx-12">
        <a href="#">
            <!-- <img src="{% static "img/content2.jpg"%}" class="img-responsive"> -->
        </a>
    </div>
    <div class="col-sm-4 col-sx-12">
        <a href="#">
            <!-- <img src="{% static "img/content3.jpg"%}" class="img-responsive"> -->
        </a>
    </div>
</div>
<div class="row">
</div>
{% endblock %}