<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BEA CONFECCIONES{% endblock %}</title>
    <meta name="description" content="Bea - Diseño y Confección, de toda clase de vestidos, modas y uniformes para empresas." />
    <meta name="keywords" content="Bea Confecciones, diseño, confección, vestidos, moda, Peru, Piura, uniformes, Bertha Arias, beaconfecciones.com"/>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.min.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/app.css"%}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <script src="{% static "js/vendor/modernizr.js"%}"></script>
</head>
<body class="previous">
    <header>
        <div class="large-6 columns">
            <h1>Confecciones</h1>
        </div>
    </header>
    <section class="row">
        <div class="large-12 columns text-center logo">
            <img src="{% static "img/logo.png"%}">
        </div>
    </section>
    <footer>
        <h3>
            <i class="fa fa-phone"></i>
            <span>+51 969 784 351&nbsp;&nbsp;</span>
        </h3>
    </footer>
</body>
</html>