.previous{
    overflow: hidden;
    background: rgba(245, 245, 220, 0.5);
}
.previous h1,
.previous h2,
.previous h3,
.previous h4,
.previous h5,
.previous h6{
    padding: 5px 20px;
    font-family: 'Great Vibes', cursive;
    color: #333;
}

.previous .logo{
    margin-top: 20px;
}
.previous footer{
    position: fixed;
    bottom: 20px;
    text-align: center;
    width: 100%;
}
.previous footer h3{
    position: relative;
}